# Flask
# matplotlib
# numpy
# pdfplumber
# pikepdf
# plotly
# prophet
# PyPDF2
# python_dateutil
# scikit_learn
# seaborn
# tabula
# tabula_py
# jpype1
# streamlit==1.37.0
# pandas==2.2.2
# pyarrow==14.0.1
# altair<5
streamlit
pandas
pyarrow
altair<5
matplotlib
numpy
pdfplumber
pikepdf
plotly
prophet
PyPDF2
python-dateutil
scikit-learn
seaborn
tabula-py
jpype1